body {
    width: 90%;
}
h1 {
    Font-weight: 700;
    Font-size: 26px;
    Font-family: "Nunito Sans";
}
h2 {
    Font-weight: 500;
    Font-size: 18px;
    font-family: "Poppins";
}
p {
    Font-weight: 400;
    Font-size: 14px;
    Font-family: "Poppins";
}
.main_box {
    border: 1px solid black;
    padding: 10px 3px;
}
.color_box {
    display: inline-block;
    width: 200px;
    height: 75px;
}
.blue {
    color: white;
    background-color: #2d5dcc;
}
.pink {
    background-color: #d957d9;
}
.mint_green {
    background-color: #4fe0b0;
}
.beige {
    background-color: #efd9ca;
}
.font_box {
    display: inline-block;
    margin-top: 20px;
}
#scp_underline {
    font-family: "Source Code Pro";
    text-decoration: underline;
    Font-size: 18px;
    Font-weight: 400;
}
#scp_normal {
    font-family: "Source Code Pro";
    Font-size: 14px;
    Font-weight: 400;
}
#scp_bold {
    font-family: "Source Code Pro";
    Font-size: 14px;
    Font-weight: 700;
}
#scp_italics {
    font-family: "Source Code Pro";
    Font-size: 14px;
    Font-weight: 400;
    font-style: italic;
}
#ns_underline {
    font-family: "Nunito Sans";
    text-decoration: underline;
    Font-size: 18px;
    Font-weight: 400;
}
#ns_normal {
    font-family: "Nunito Sans";
    Font-size: 14px;
    Font-weight: 400;
}
#ns_bold {
    font-family: "Nunito Sans";
    Font-size: 14px;
    Font-weight: 700;
}
#ns_italics {
    font-family: "Nunito Sans";
    Font-size: 14px;
    Font-weight: 400;
    font-style: italic;
}
#p_underline {
    font-family: "Poppins";
    text-decoration: underline;
    Font-size: 18px;
    Font-weight: 400;
}
#p_normal {
    font-family: "Poppins";
    Font-size: 14px;
    Font-weight: 400;
}
#p_bold {
    font-family: "Poppins";
    Font-size: 14px;
    Font-weight: 700;
}
#p_italics {
    font-family: "Poppins";
    Font-size: 14px;
    Font-weight: 400;
    font-style: italic;
}