body {
    text-align: center;
    width: 80%;
}
h1 {
    Font-weight: 700;
    Font-size: 26px;
    Font-family: "Nunito Sans";
}
h2 {
    Font-weight: 500;
    Font-size: 18px;
    font-family: "Poppins";
}
p {
    Font-weight: 400;
    Font-size: 14px;
    Font-family: "Poppins";
}
.color_box {
    display: inline-block;
    width: 200px;
    height: 75px;
}
.blue {
    color: white;
    background-color: #2d5dcc;
}
.pink {
    background-color: #d957d9;
}
.mint_green {
    background-color: #4fe0b0;
}
.beige {
    background-color: #efd9ca;
}